@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background: #862d4d;
  color: white;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.font-micro-flf {
  font-family: var(--font-micro-flf);
}

.font-sans {
  font-family: var(--font-inter);
}

